<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hci"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.hci.Learn"
            android:label="@string/title_activity_learn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.About"
            android:label="@string/title_activity_about" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learna"
            android:label="@string/title_activity_learna" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettera"
            android:label="@string/title_activity_spell_lettera" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.example.hci.PlayA" >
        </service>
        <service android:name="com.example.hci.PlayB" >
        </service>
        <service android:name="com.example.hci.PlayC" >
        </service>
        <service android:name="com.example.hci.PlayD" >
        </service>
        <service android:name="com.example.hci.PlayE" >
        </service>
        <service android:name="com.example.hci.PlayF" >
        </service>
        <service android:name="com.example.hci.PlayG" >
        </service>
        <service android:name="com.example.hci.PlayH" >
        </service>
        <service android:name="com.example.hci.PlayI" >
        </service>
        <service android:name="com.example.hci.PlayJ" >
        </service>
        <service android:name="com.example.hci.PlayK" >
        </service>
        <service android:name="com.example.hci.PlayL" >
        </service>
        <service android:name="com.example.hci.PlayM" >
        </service>
        <service android:name="com.example.hci.PlayN" >
        </service>
        <service android:name="com.example.hci.PlayO" >
        </service>
        <service android:name="com.example.hci.PlayP" >
        </service>
        <service android:name="com.example.hci.PlayQ" >
        </service>
        <service android:name="com.example.hci.PlayR" >
        </service>
        <service android:name="com.example.hci.PlayS" >
        </service>
        <service android:name="com.example.hci.PlayT" >
        </service>
        <service android:name="com.example.hci.PlayU" >
        </service>
        <service android:name="com.example.hci.PlayV" >
        </service>
        <service android:name="com.example.hci.PlayW" >
        </service>
        <service android:name="com.example.hci.PlayX" >
        </service>
        <service android:name="com.example.hci.PlayY" >
        </service>
        <service android:name="com.example.hci.PlayZ" >
        </service>

        <activity
            android:name="com.example.hci.Learning"
            android:label="@string/title_activity_learning" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnb"
            android:label="@string/title_activity_learnb" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnc"
            android:label="@string/title_activity_learnc" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnd"
            android:label="@string/title_activity_learnd" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learne"
            android:label="@string/title_activity_learne" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnf"
            android:label="@string/title_activity_learnf" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learng"
            android:label="@string/title_activity_learng" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnh"
            android:label="@string/title_activity_learnh" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learni"
            android:label="@string/title_activity_learni" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnj"
            android:label="@string/title_activity_learnj" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnk"
            android:label="@string/title_activity_learnk" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnl"
            android:label="@string/title_activity_learnl" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnm"
            android:label="@string/title_activity_learnm" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnn"
            android:label="@string/title_activity_learnn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learno"
            android:label="@string/title_activity_learno" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnp"
            android:label="@string/title_activity_learnp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnq"
            android:label="@string/title_activity_learnq" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnr"
            android:label="@string/title_activity_learnr" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learns"
            android:label="@string/title_activity_learns" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnt"
            android:label="@string/title_activity_learnt" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnu"
            android:label="@string/title_activity_learnu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnv"
            android:label="@string/title_activity_learnv" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnw"
            android:label="@string/title_activity_learnw" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnx"
            android:label="@string/title_activity_learnx" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learny"
            android:label="@string/title_activity_learny" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.Learnz"
            android:label="@string/title_activity_learnz" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersb"
            android:label="@string/title_activity_spell_lettersb" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersc"
            android:label="@string/title_activity_spell_lettersc" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersd"
            android:label="@string/title_activity_spell_lettersd" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLetterse"
            android:label="@string/title_activity_spell_letterse" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersf"
            android:label="@string/title_activity_spell_lettersf" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersg"
            android:label="@string/title_activity_spell_lettersg" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersh"
            android:label="@string/title_activity_spell_lettersh" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersi"
            android:label="@string/title_activity_spell_lettersi" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersj"
            android:label="@string/title_activity_spell_lettersj" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersk"
            android:label="@string/title_activity_spell_lettersk" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersl"
            android:label="@string/title_activity_spell_lettersl" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersm"
            android:label="@string/title_activity_spell_lettersm" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersn"
            android:label="@string/title_activity_spell_lettersn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLetterso"
            android:label="@string/title_activity_spell_letterso" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersp"
            android:label="@string/title_activity_spell_lettersp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersq"
            android:label="@string/title_activity_spell_lettersq" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersr"
            android:label="@string/title_activity_spell_lettersr" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLetterss"
            android:label="@string/title_activity_spell_letterss" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLetterst"
            android:label="@string/title_activity_spell_letterst" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersu"
            android:label="@string/title_activity_spell_lettersu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersv"
            android:label="@string/title_activity_spell_lettersv" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersw"
            android:label="@string/title_activity_spell_lettersw" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersx"
            android:label="@string/title_activity_spell_lettersx" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersy"
            android:label="@string/title_activity_spell_lettersy" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.SpellLettersz"
            android:label="@string/title_activity_spell_lettersz" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hci.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>